venv/
.venv/
logs/*
!logs/.gitkeep
__pycache__/
*/__pycache__/
pretrained_models/*
!pretrained_models/.gitkeep
*.pyc
.env
.DS_Store
image.png
logs/*.csv
logs/*.json
logs/*.log
logs/*.png
neon_data/time_original.xlsx
neon_data/time_synthetic.xlsx
